.cardOutfit{
   width: 15rem ;
    margin: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.418);
    margin: 1rem;
    border-radius: 0.1rem;
} 
.cardBodyClothing{
    position: relative;
    margin: 1rem;
    border-radius: 0.2rem;
}
.cardNameClothing{
    font-size: 0.8rem;
    margin: 0.5rem;
    text-align: center;
}
.cardClothingImg{
    margin: auto;
    display: block;
}
.cardClean{
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.5rem;
    margin-right: 2rem;
}
.cardTittleOutfit{
    margin: 1rem;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.849) ;
}
.btnFav{
    margin-left: 1rem;
    display: block;
}
#outfitCheck{
    margin-top: -1.6rem;
    text-align: right;
    margin-right: 1.5rem;
    color: green;

}