
.cardOutfit{
    width: 35rem;
    height: 27rem;
    margin-top: 4rem !important;
    margin: 2rem;

    // border: 0.1rem solid #785964;
    border-radius: 1rem;
    background-color: #F7F4EA;
    box-shadow: 14px 14px 12px rgba(0,0,0,.5);

   
} 
.cardBodyClothing{
    position: relative;
    margin: 1rem;
    border-radius: 0.2rem;
}
.cardNameClothing{
    font-size: 0.8rem;
    text-align: center;
    color:rgba(0, 0, 0, 0.603)
}
.cardClothingImg{
    margin: 0.2rem;
    display: block;
    max-width:15rem;
    max-height:13.2rem;
    width: auto;
    height: auto;
    border-radius: 0.2rem;

}
.cardClean{
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.5rem;
    margin-right: 2rem;
    color:rgba(0, 0, 0, 0.603)
}
.cardTittleOutfit{
    margin: 1rem;
    text-align: center;
    
    color:rgba(0, 0, 0, 0.603) ;
}
.cardFooter{
    margin-top: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}
.btnFav{
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    margin-top: 3rem;
    float: left;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0.2rem solid red;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);

}

.btnFav:active {
    background-color: red !important;  
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);

  }
.btnProfile:hover{
    color:white!important;
    border: 0.2rem solid white!important;
    background-color:red!important;
  }

#outfitCheck{
    margin-top: 4rem;
    text-align: right;
    margin-right: 2rem;
    color: green;
    float: right;

}