.main-container{
    background-color: rgba(124, 30, 77, 0.664);
    width: 450px;
    height: 580px;
    margin-top: -8%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
    border-radius: 2rem;

}