*{margin: 0; padding: 0;}


.topImgCarousel{
    display: block;
    max-width:15rem;
    max-height:13.2rem;
    width: auto;
    height: auto;
    margin-left: 5.5rem;
    margin-top: 0.2rem;
    float: left;
}
