*{margin: 0; padding: 0;}

.mainContainer{
    margin-top: 1rem;
}

.topImgCarousel{
    display: block;
    max-width:9rem;
    max-height:16rem;
    width: auto;
    height: auto;
    margin-left: 5.5rem;
    margin-top: 0.2rem;
    float: left;
}
