.containerCloset{
    margin-top: 6rem;
    color: rgb(80, 77, 77);
}
.tittleCloset{
    font-size: 3rem;
    text-align: center;
    color: rgb(80, 77, 77);
}
.leadCloset{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 7rem;
}
.clothingUsed{
    height: 30rem;
    margin-left:3rem ;
    margin-right:3rem ;
    margin-top: 2rem;
    border-radius: 1rem;
    border: 0.2rem solid rgba(90, 77, 59, 0.37);
}
.todayCloset{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    text-shadow: 4px 4px 3px rgb(142, 142, 151);
    border-radius: 1rem;
    margin-left: 4.5rem;
    margin-top: 2rem;
    margin-bottom: -5rem;
    color: #F7F4EA;
    font-size: 2rem;
    background-color: #785964;
    width: 25rem;
    height: 3rem;
    text-align: center;
}
.containerClothingUsed{
    margin-bottom: 4rem;
    margin-top: 4rem;
    background-color:  #9535b52f;
    overflow-x: auto;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);


}
.todayCards{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.containerClothingFavs{
    margin-bottom: 4rem;
    margin-top: 4rem;
    background-color:  #9535b52f;
    overflow-x: auto;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);


}
.tittleFavourites{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    border-radius: 1rem;
    text-shadow: 4px 4px 3px rgb(142, 142, 151);
    margin-left: 4.5rem;
    margin-top: 2rem;
    margin-bottom: -5rem;
    color: #F7F4EA;
    font-size: 2rem;
    background-color: #785964;
    width: 25rem;
    height: 3rem;
    text-align: center;
}
.favClosetCard{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.containerClothingCollections{

    margin-bottom: 4rem;
    margin-top: 4rem;
    background-color:  #9535b52f;   
    overflow-x: auto;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);


}
.tittleCollections{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    text-shadow: 4px 4px 3px rgb(142, 142, 151);
    border-radius: 1rem;
    margin-left: 4.5rem;
    margin-top: 2rem;
    margin-bottom: -3rem;
    color: #F7F4EA;
    font-size: 2rem;
    background-color: #785964;
    width: 25rem;
    height: 3rem;
    text-align: center;
}

.collectionDrop{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    // margin-top: 1rem;
}
.containerColleDropdown{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    width: 20rem;
    margin-bottom: 5rem;
    // margin-top: 4rem;
}
.dropCollect{
    margin-left: 32rem;
    // margin-right: 10rem;
    margin-bottom: -9rem;
    text-align:center;
    border: 0.5rem solid white;
    
}