.bodyCloset{
        background-image: url("https://www.decoandyou.com/67969/corazones.jpg");
        opacity: 100%;
  }
.containerCloset{
    margin-top: 0.6rem;
    color: rgb(80, 77, 77);
}
.imgCloset{
    margin-top: -3rem;
    margin-left: 15rem;
    position:relative ;
    width: 60%;
    height: 50%;

}

.clothingUsed{
    height: 30rem;
    margin-left:3rem ;
    margin-right:3rem ;
    margin-top: 2rem;
    border-radius: 1rem;
    border: 0.2rem solid rgba(90, 77, 59, 0.37);
}
.todayCloset{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    text-shadow: 4px 4px 3px rgb(142, 142, 151);
    margin-left: 4.5rem;
    margin-top: 10rem;
    margin-bottom: -3rem;
    color: #F7F4EA;
    font-size: 2rem;
    background-color:rgba(255, 255, 255, 0.534);
    width: 30rem;
    height: 4rem;
    text-align: center;
    color: #3f3b3d;
    font-weight: bolder;
    font-weight: 600;
    border: 2px solid #3f3b3d;
}
.containerClothingUsed{
    margin-bottom: 4rem;
    margin-top: 4rem;
    background-color:  #bd96a4;   
    overflow-x: auto;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);


}
.todayCards{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.containerClothingFavs{
    margin-bottom: 4rem;
    margin-top: 4rem;
    background-color:  #bd96a4;   
    overflow-x: auto;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);


}
.tittleFavourites{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    text-shadow: 4px 4px 3px rgb(142, 142, 151);
    margin-left: 4.5rem;
    margin-top: 10rem;
    margin-bottom: -3rem;
    color: #F7F4EA;
    font-size: 2rem;
    width: 30rem;
    height: 4rem;
    text-align: center;
    color: #3f3b3d;
    font-weight: bolder;
    font-weight: 600;
    border: 2px solid #3f3b3d;
}
.infoCloset{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 65rem;
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-23%, -10%);
  color: #4d383f;
  background-color: white;
  opacity: 73%;
  font-size: 1.5rem;  
}
.favClosetCard{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.containerClothingCollections{
    margin-bottom: 4rem;
    margin-top: 4rem;
    background-color:  #bd96a4;   
    overflow-x: auto;
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);


}
.tittleCollections{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    text-shadow: 4px 4px 3px rgb(142, 142, 151);
    margin-left: 4.5rem;
    margin-top: 3rem;
    margin-bottom: -3.5rem;
    color: #F7F4EA;
    font-size: 2rem;
    width: 30rem;
    height: 4rem;
    text-align: center;
    color: #3f3b3d;
    font-weight: bolder;
    font-weight: 600;
    border: 2px solid #3f3b3d;

}

.collectionDrop{
    margin-left: 4rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.containerColleDropdown{
    box-shadow: 4px 10px 12px rgba(0,0,0,.5);
    width: 15rem;
    height: 2rem;
    margin-bottom: 5rem;
    margin-top: 0.5rem;
    margin-left: 4rem;
    background-color:  #bd96a4;  


}
.dropCollect{
    margin-top: -1rem;
    margin-left: 32rem;
    margin-bottom: -8rem;
    text-align:center;
    border: 0.5rem solid transparent;
    
}