.btnCreateMyOutfit{
    width: 15rem;
    height: 3rem;
    color: white!important;
    background-color: burlywood !important;
    border:0.2rem solid rgba(222, 184, 135, 0.212)!important;
    border-radius: 0.2rem;
    // font-size: 1.5rem !important;   
}
.btnCreateMyOutfit:hover{
    color:white !important;
    border-color: rgb(233, 228, 222)!important;
  }
