
  .btnCreateMyOutfit{
    width: 12rem;
    height: 2.5rem;
    background-color: #785964!important;
    border:0.2rem solid #785964!important;
    color:#dad7d1!important;
    border-radius: 0.2rem!important;

}
.btnCreateMyOutfit:hover{
    color:#785964!important;
    border: 0.2rem solid #785964!important;
    background-color:#F7F4EA!important;

  }
