
#outfitName{
    width: 300px;
    border-radius: 12px;
    font-size: 0.90rem;
    border-style: solid;
    border: 2px solid #9b9999;
}
#btnAddCollection{
    color:black;
    margin:10px 10px 10px 10px;
    width: 300px;
    border-radius: 12px;
    font-size: 0.90rem;
    border-style: solid;
    border: 2px solid;
    background-color: rgb(29, 138, 211);
}
#heartBtn{
    color:black;
    margin:10px 10px 10px 10px;
    width: 300px;
    border-radius: 12px;
    font-size: 0.90rem;
    border-style: solid;
    border: 2px ;
    background-color:rgba(167, 6, 6, 0.932);
}
//Los btns de add y fav se les tiene que dar un css que quede como los botones de bootsrap, había que ver si se les esta suporpeniendo css.

#btnCreate{
    border: 2px;
    border-radius: 12px;
    font-size: 14px;
    background-color: white;
    color: #9b9999;
    border: 2px solid #9b9999;   
}
