
.tittleOutfit{
    color: burlywood;
    margin-left: auto;

}
.modalOutfit{
    margin: 1rem;
    }

.nameOutfit{
    width: 23rem;
    height: 2.5rem;
    text-align:center;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    // font-size: 1rem;
}
.SelectorCollection{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 23rem !important;
    height: 2.5rem !important;
    text-align:center;
    border-radius: 0.5rem;
}
.btnAddCollection{
    width: 12rem;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: burlywood !important;
    border-color: burlywood !important;
    margin-left: 3rem !important;
    margin-bottom: 3rem;
}
.btnAddCollection:hover{
    color: burlywood !important
    ;
    background-color:rgb(233, 228, 222)!important
    ;
}
.createOutfitBtn{
    margin: 0.5rem !important;
    width: 10rem;
    background-color: burlywood !important;
    border-color: burlywood !important;
    margin-left: 10rem !important;

}

.textCheck{
    color: green;

}









