.headerFooter{
  height: 4.5rem;
  background-color: #B392AC;
  color: white;
  // border-top:0.2rem solid rgba(99, 66, 23, 0.404);
  font-size: large;
  // margin-top: 4rem;
}
footer {
    background-color: #B392AC;
    color: white;
    margin-top: 6rem;
  }
  
  .textFooter{
  margin-left: 60rem !important;
  margin-top: -2.5rem;
  color: white;
  }

.textAcademy{
  // font-size: xxs-large;
  color: white;
  margin-top: 1rem !important;
  margin-left: 2rem;
}
.textGaby{
float: left;
}
.textYola{
float: right;
}