.headerFooter{
  height: 4.5rem;
  background-color: burlywood;
  color: white;
  border-top:0.2rem solid rgba(99, 66, 23, 0.404);
  font-size: large;
}
footer {
    background-color: burlywood;
    color: white;
  }
  
  .textFooter{
  margin-left: 80rem !important;
  margin-top: -1.5rem;
  }

.textAcademy{
  // font-size: xxs-large;
  color: white;
  margin-top: 1rem !important;
  margin-left: 2rem;
}