.header{
  width: 95rem;
  background-color: burlywood;
  height: 4.5rem;

}
footer {
    // padding-bottom: 700px;
    background-color: burlywood;
    // width: 100%;
    color: white;
    display: flex;


  }
  
.linkedinGaby{
  font-size: medium;
  color: white;
  text-align: right;

}
.linkedinYola{
  font-size: medium;
  color: white;
  text-align: right;

}
.academy{
  font-size: xxs-large;
  color: white;
  text-align:left;

}