
.slogan{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 50rem;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5e5c5c;
}

.tittle1{
   font-size: xx-large;
   text-decoration: underline;
   color: #5e5c5c;;
}
.textBody{
    font-size: x-large;
    color: #5e5c5c;
}

.princ{
   width:100%; height:100%;
   opacity: 70%;
}
.jumbotron {
    background-color:transparent !important; 

}
 
.btn1 {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #9b9999;
    border: 2px solid #9b9999;
    padding: 15px 32px;
    border-radius: 0.5rem;
}

.btn2 {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color:blac;
    background-color: white;
    color:  #9b9999;
    border: 2px solid #9b9999;
    padding: 15px 32px;
    border-radius: 0.5rem;

}
.btn1:hover{
    background-color: rgb(155, 153, 153);
    color:white;
}
.btn2:hover{
    background-color: #9b9999;
    color:white;
}

.row{
   text-align:left;
}