
.tittleHome{
  margin: auto;
  display: flex;
  justify-content: center;
  position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5e5c5c;
    font-size: 2rem;
}

.imgHome{
  width:103.5%; 
  height:100%;
  opacity: 60%;
  margin-top: -4rem;
  margin-left: -2rem;



  }
.jumbotron {
    background-color:transparent !important; 

}
.infoHome{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100rem;
  position: absolute;
  top: 80%;
  left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(54, 53, 53);
background-color: rgba(222, 184, 135, 0.267);
}
 
.btnRegisterHome {
    position: absolute;
    top: 30rem;
    left: 65rem;
    background-color: burlywood;
    color:white;
    border: 0.2rem solid white;
    padding: 1rem 5.5rem;
    border-radius: 0.2rem;
    // font-size: 1.5rem;
}
.btnHome{
  // margin-right: 30rem;
  background-color: cadetblue;
}
.btnLoginHome {
  position: absolute;
  top: 30rem;
  left: 35rem;
  background-color: burlywood;
  color:white;
  border: 0.2rem solid white;
  padding: 1rem 5.5rem;
  border-radius: 0.2rem;
  // font-size: 1.5rem;

}
.btnRegisterHome:hover{
    background-color: rgba(222, 184, 135, 0.534);
    color:white;
}
.btnLoginHome:hover{
    background-color: rgba(222, 184, 135, 0.534);
    color:white;
}

