/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');

body{
    margin: 0;
}
div{
font-family: 'Bellota Text', cursive;
}
p{
font-family: 'Bellota Text', cursive;
}
h2{
font-family: 'Bellota Text', cursive;}
h1{
font-family: 'Bellota Text', cursive;color:rgba(138,129,124,0.2987570028011205) 43%}
li{
font-family: 'Bellota Text', cursive;
}
ul{
font-family: 'Bellota Text', cursive;
}
.btn{
font-family: 'Bellota Text', cursive;background-color: white;

}


footer{
    clear: both;
}