.body {
    // margin: 0;
    // color: #6a6f8c;
    // background: #c8c8c8;
    // font: 600 1rem/1.125 'Open Sans', sans-serif
    text-align: center;
}
.modal-content{
    
    width: 100%;
    margin: auto;
    max-width: 20rem;
    // min-height: 0rem;
    position: relative;
    background: rgb(207, 174, 205);
    box-shadow: 0 0.75rem 0.938rem 0 rgba(27, 26, 26, 0.24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}
// .modal-body {
//     height: 3px;
// }
.group {
      text-align: center;
      font:  600 1rem/1.125 'Open Sans', sans-serif ;
}