@import "~bootstrap/scss/bootstrap.scss";

.login-snip {
    margin: 0;
    color: rgba(107, 101, 103, 0.781);
    background:  rgba(245, 222, 230, 0.76);
    font: 600 1rem/1.125 'Open Sans', sans-serif;
}

.container {
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.tittle{
    position: relative;
    font-size: 3rem;
    color: #463F3A;
    text-align: center;

}

.loginContainer{
    font-size: 1.5rem;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.group{
   padding-top: 1rem;
    padding-bottom: 1rem;
}
.input {
  width: 100%;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10rem;
  box-sizing: border-box;
}
.button{
  width: 100%;
  background-color: #463F3A;
  color: white;
  padding: 14px 20px;
  margin: 80px 0;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}