.tittleLogin{
    margin-top: 2.5rem;
    font-size: 2.5rem;
    color:#785964;
  }
  
  .containerLogin {  
    margin: auto;
    display: flex;
    text-align: center;
    color:rgb(90, 77, 59);
    width: 32rem;
    height: 35rem;
    background-color: #a885a1 !important;
  }
  
  .containerBoxLogin{
      width: 30rem;
      height: 33rem;
      background-color: #B392AC ;
      margin-left: 0.9rem;
      margin-top: 0.9rem;
  
  }
  .goToRegister{
      color: rgb(90, 77, 59);
      margin-top: 2rem;
  
  }
  .groupLogin{
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      margin-top: 0.1rem;
      
  
  }
  .inputLogin {
    width: 20rem;
    height: 2.5rem;
    margin: 1rem 0;
    background: #FFFFFF;
    
  }
  .btnLoginVista  {
    width: 10rem;
    height: 3rem;
    background-color: #785964 !important;
    margin-left: 1rem !important;
    color: white;
    margin-left: -1rem!important;
    margin-top: 4rem!important;
    margin-bottom: 3rem;
  
  }
  
  .btnLoginVista:hover{
    color:rgb(233, 228, 222)!important;
    border-color: rgb(233, 228, 222)!important;
  }
 