// html{
//     position: rel6tive;
//     background-color: burlywood;
//     margin-top: 4%;
// }
.myOutfitContainer{
    margin-top: 8rem;
    margin-left: 2rem;
}
.containerClothing{
    background-color: rgba(137, 43, 226, 0.795);
    width: 450px;
    height: 580px;
    margin-top: -4%;
    margin-left: -8%;
    margin-right: 5%;
    border: 2px solid black;
    border-radius: 2rem;
}
.tittlePage{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}

.btnLoad{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: 26rem;
    height: 3rem;
    background-color: rgb(78, 25, 87) !important;
    border-color: rgb(78, 25, 87)!important;
    font-size: 1.5rem !important;
}

.selectTop{
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    font-size: 1.2rem !important;
}
.selectBottom{
    margin-top: 3rem;
    margin-bottom: 1.3rem;
    font-size: 1.2rem !important;
}
.selectFootwear{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem !important;
}

#btnCreateOutfit{
    height: 70px;
    width: 200px;
    border: 2px;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    background-color:rgba(78, 25, 87, 0.829);
    color:white;
    margin-right: -7rem;
    margin-top: 9rem;
}

// #btnCreateOutfit{
//     width: 12rem;
//     height: 5rem;
// }

// .containerCreate{
//     background-color: chocolate;
//     width: 15rem;
//     height: 10rem;
//     margin-top: 10rem;
//     margin-left: 6rem;
//     margin-right: -5rem;

// }



