.myOutfitContainer{
    margin-top: 8rem;
    margin-left: 2rem;
}
.containerClothing{
    background-color:rgba(222, 184, 135, 0.658);
    width: 30rem;
    height: 40rem;
    margin-top: -4rem;
    margin-left: -5rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    border: 2px solid rgba(222, 184, 135, 0.747);
    border-radius: 0.5rem;
}
.carouselContainer{
    background-color:rgba(222, 184, 135, 0.658);
    width: 30rem;
    height: 40rem;
    margin-top: -4rem;
    margin-left: 5rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    border: 2px solid rgba(222, 184, 135, 0.747);
    border-radius: 0.5rem;
}

.tittlePage{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(90, 77, 59);
}

.btnLoad{
        width: 15rem;
        height: 3.5rem;
        background-color: burlywood !important;
        border-color: burlywood !important;
        margin-left: 1rem !important;
        color: white;
        font-size: 1.5rem !important;
        border:0.2rem solid rgba(222, 184, 135, 0.212)!important;
        border-radius: 0.2rem;
        margin-left: 6rem!important;
        margin-top: 1rem!important;
        margin-bottom: 2rem;
    }
    .btnLoad:hover{
        color:rgb(233, 228, 222)!important;
        border-color: rgb(233, 228, 222)!important;
      }


.selectTop{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 23rem !important;
    height: 3rem !important;
    text-align:center;
    border-radius: 0.5rem;
    font-size: 1.5rem !important;
}
.selectBottom{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 23rem !important;
    height: 3rem !important;
    text-align:center;
    border-radius: 0.5rem;
    font-size: 1.5rem !important;
}
.selectFootwear{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 23rem !important;
    height: 3rem !important;
    text-align:center;
    border-radius: 0.5rem;
    font-size: 1.5rem !important;
}

.btnCreateMyOutfit{
    width: 15rem;
    height: 3.5rem;
    background-color: burlywood !important;
    border-color: burlywood !important;
    margin-left: 1rem !important;
    color: white;
    font-size: 1.5rem !important;
    border:0.2rem solid rgba(222, 184, 135, 0.212)!important;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    margin-left: 20rem!important;
    margin-top: 24rem!important;
}
.btnCreateMyOutfit:hover{
    color:rgb(233, 228, 222)!important;
    border-color: rgb(233, 228, 222)!important;
  }
