.select-category{
    width: 300px;
    border-radius: 12px;
    font-size: 0.90rem;
    border-style: solid;
    border: 2px solid #9b9999;
}
#btnCreateOutfit{
    height: 50px;
    width: 200px;
    border: 2px;
    border-radius: 12px;
    font-size: 14px;
    background-color:rgb(29, 138, 211);
    color:white;
    border: 2px solid white;   
}
