
.header{
    background-color:transparent ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 5%;
}

.text-decoration-none{
    font-size: 3rem;
    font-weight: 500;
}
li, a {
    font-weight: 500;
    font-size: 1.8rem;
    color: #5e5c5c;
}
 
.navLink li{
    display: inline-block;
    padding: 0.4rem 2rem;
}

.navLink li a:hover{
    color: rgb(114, 114, 114);
}
.btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1.8rem;
    background-color:black;
    background-color: white;
    color:  #9b9999;
    border: 2px solid #9b9999;
    padding: 0.5rem 1rem;

}

.btn:hover{
  background-color: #9b9999;
  color:white;
border-color: white;
}
.logo{
    font-size: 3.8rem;}

.logo:hover{
    color:#9b9999;
    border-color: white;}