
.headerNavbar{
    // background-color:transparent ;
    display: flex;
    justify-content: space-between;
    // border-bottom: 0.2rem solid rgba(0, 0, 0, 0.233);
    background-color:#F7F4EA ;
}

.logoNavbar{
    background-color: #B392AC;
    width: 5rem;
    height: 6rem;
    margin-left: 4rem;
    text-align: center;
}

.text-decoration-none{
    font-size: 2.5rem;
     margin-left: 2rem;
    color:#785964;
    
    
}
.text-decoration-none:hover{
    color:#4f0866!important;
    border-color: rgb(116, 39, 39) !important;
  }
li, a {
    font-weight: 600;
    color:#785964;}

.navLink li{
    display: inline-block;
    // padding: 0.4rem 2rem;
}

.navLink li a:hover{
    color: rgb(114, 114, 114);
    
}
.btnProfileS{
    border: none;
    background-color: #F7F4EA;
    margin-left: -38rem;
    margin-top: 1.2rem;
    text-align: center;
    // font-size: 2rem;
    color:#785964;}
.btnProfileS:hover{
    color:#4f0866;
    border-bottom:0.2rem solid  #4f0866;
    width: 6rem;
  }
.btnOutfit{
    border: none;
    background-color: #F7F4EA;
    margin-left: -31rem;
    text-align: center;
    // font-size: 2rem;
    color:#785964;
}
.btnOutfit:hover{
    color:#4f0866;
    border-bottom:0.2rem solid  #4f0866;
    width: 6rem;
}
.btnCloset{
    border: none;
    background-color: #F7F4EA;
    margin-left: -24rem;
    text-align: center;
    // font-size: 2rem;
    color:#785964;
}
.btnCloset:hover{
    color:#4f0866;
    border-bottom:0.2rem solid  #4f0866;
    width: 6rem;
  }
.btnLogin{
    width: 8rem;
    height: 3rem;
    background-color: #B392AC;
    margin-left: -16rem;
    margin-top: 1rem;
    // border:0.2rem solid #4f0866;
    color:#F7F4EA;
}
.btnLogin:hover{
    color:#F7F4EA;
    border: 0.2rem solid rgb(90, 77, 59)
  }

.btnLogOut{
    width: 6.5rem;
    height: 3rem;
    background-color: #B392AC;
    margin-left: -11rem;
    border:0.2rem solid #4f0866;
    color:#F7F4EA;

}
.btnLogOut:hover{
    color:#785964;
        border-color:rgb(90, 77, 59);
  }