
.header{
    background-color:transparent ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 5%;
    margin-bottom: 5%;
    background-color: burlywood;
}


.text-decoration-none{
    font-size: 3rem;
}
.text-decoration-none:hover{
    color:rgb(90, 77, 59);
  border-color: white;
  }
li, a {
    font-weight: 500;
    font-size: 1.8rem;
    color: #5e5c5c;
    
}

.navLink li{
    display: inline-block;
    padding: 0.4rem 2rem;
}

.navLink li a:hover{
    color: rgb(114, 114, 114);
    
}

.btnOutfit{
    border: none;
    background-color: burlywood;
}
.btnOutfit:hover{
    color:rgb(90, 77, 59);
    border-color: white;
}
.btnCloset{
    border: none;
    background-color: burlywood;
}
.btnCloset:hover{
    color:rgb(90, 77, 59);
    background-color: burlywood;
  }
.btnLogin{
    border: none;
    background-color: burlywood;
}
.btnLogin:hover{
    color:rgb(90, 77, 59);
  border-color: white;
  }

.logo{
    font-size: 4rem;}

.logo:hover{
    color:#9b9999;
    border-color: white;}