.text2{
   font-size: xx-large ;
   color: #5e5c5c;
   
}
.tittle1{
      font-size: xx-large ;
      color: #5e5c5c;
   }
.Jumbotrom{
      background-color: rgba(222, 184, 135, 0.445);
      left: 180rem;
      margin-left: -2%;
      margin-right: 1%;
      margin-bottom: 10%;
}
.btntittle{
      margin-left: 15%;
      margin-top: 5%;
}
.textBody{
      margin-left: 15%;
      margin-top: 5%;
      margin-right: 10%;

}
.Body{
      margin-left: 5%;
      margin-right: 2%;

}
.col{
      margin-left: -5%;
      margin-right: -1%;
      margin-bottom: 5%;
      color: black;


}

.textOufit{
      margin-left: -10%;
      margin-top: -8%;
      margin-bottom: 25%;
}
.textDirty{
      margin-left: -10%;
      margin-top: 2%;
      margin-bottom: 25%;
}
.btnProfile{
      font-size: 1.5rem !important;
      width: 25%!important;
      left: 5%!important;
      padding-top: 0.5rem!important;
      padding-bottom: 0.4rem!important;
      background-color:burlywood!important;
     color:  rgba(10, 11, 14, 0.644)!important;
    border-radius: 0.5rem!important;
    border-color: black !important;
    cursor: pointer!important;
    margin-left: 15%!important;
    margin-right: 4%!important;
    margin-top: 8%!important;
  }
  .btnProfile:hover{
      background-color: #0981e452;
        color: black;
        border-color: black;
    }

#btnClothes{
      font-size: 1.5rem;
      width: 25%;
      left: 5%;
      padding-top: 0.5rem;
      padding-bottom: 0.4rem;
      background-color:burlywood;
    color:  rgba(10, 11, 14, 0.644);
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 15%;
    margin-right: 4%;
    margin-top: 8%;
} 