.JumbotromProfile{
      background-color: #B392AC;
      border:0;
      width: 27rem;
      height: 20rem;
      margin-left: 4rem;
      margin-top: 10rem;
       margin-bottom: 6rem;
}
.imgHome{
      margin-left: 3rem;
      margin-top: 4rem;
      float: left;

}
.btnJumbotrom{
      text-align:right ;
      float: right;
      display: flex;
      position: absolute;
      margin-left: 36rem;

}

.colProfile{
      margin-bottom: 4rem;
      width: 20rem !important;
      height: 10rem;
      float: left;
      color:#F7F4EA
      ;
      background-color: #b392ac8f;
      // border: 0.5rem solid #B392AC;
      overflow: hidden
}
.colProfile:hover{
      color:#785964!important;
      border-color: #B392AC!important;
      width: 20rem !important;
      height: 15rem;
      

    }
    .btnProfile{
      width: 9rem;
      height: 2.5rem;
      background-color: #B392AC!important;
      margin-left: -11rem!important;
      border:0.2rem solid #785964!important;
      color:#F7F4EA!important;
      border-radius: 0.2rem!important;
      margin-right: 5rem;
      margin-top: 3rem !important;
  }
  .btnProfile:hover{
      color:#785964!important;
      border: 0.2rem solid #785964!important;
      background-color:#F7F4EA!important;
    }


.textBody{
      margin-top: 1rem;
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;

}
.textBodyBottom{
      font-size: 1rem;
      overflow: scroll;
      margin-top: 1rem;
      margin-right: 1rem;
}
.containerAvailables{
      border-radius: 1rem;
      border: 0rem ;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: 4rem;
      background-color: #9535b52f;

}
.tittleAvaibles{
      margin-left: 4.5rem;
      margin-top: 10rem;
      margin-bottom: -1rem;
      color: #F7F4EA;
      font-size: 2rem;
      background-color: #785964;
      width: 25rem;
      height: 3rem;
      text-align: center;
}
.availablesCard{
      margin-left: 4rem;
      margin-right: 3rem;
      margin-bottom: 4rem;
}
.containerDirtyS{
      border-radius: 1rem;
      border: 0.2rem;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: 10rem;
      background-color: #9535b52f;
}
.tittleDirty{
      margin-left: 4.5rem;
      margin-top: 2rem;
      margin-bottom: -1rem;
      color: #F7F4EA;
      font-size: 2rem;
      background-color: #785964;
      width: 25rem;
      height: 3rem;
      text-align: center;

}

.dirtyCard{
      margin-left: 4rem;
      margin-right: 3rem;
      margin-bottom: 4rem;
      margin-top: 1rem;
}