.text2{
   font-size: xx-large ;
   color: #5e5c5c;
   
}
.tittle1{
      font-size: xx-large ;
      color: #5e5c5c;
   }
.Jumbotrom{
      background-color: rgba(222, 184, 135, 0.445);
      left: 180rem;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 4rem;
      margin-top: 4rem;
      border-radius: 1rem;
}
.btntittle{
      margin-left: 15%;
      margin-top: 5%;
}
.textBody{
      margin-left: 15%;
      margin-top: 5%;
      margin-right: 10%;

}
.col{
      margin-left: -5%;
      margin-right: -1%;
      margin-bottom: 5%;
      color:rgb(90, 77, 59)}

.textOufit{
      margin-left: 4.5rem;
      margin-top: 2rem;
      margin-bottom: 20rem;
      color:rgb(90, 77, 59)
}
.textDirty{
      margin-left: 4.5rem;
      margin-top: 4rem;
      margin-bottom: 20rem;
      color:rgb(90, 77, 59)
}
.btnProfile{
      font-size: 1.5rem !important;
      width: 20rem!important;
      left: 2rem!important;
      border-radius:  0.5rem !important;
      border:0.2rem solid rgba(222, 184, 135, 0.212)!important;
      background-color: rgba(222, 184, 135, 0.534)!important;
      margin-left: -10rem!important;
      font-size: 2rem!important;
      color:rgb(90, 77, 59)!important;
      margin-left: 10rem!important;
      margin-top: 4rem!important;
  }
  .btnProfile:hover{
      color:rgb(233, 228, 222)!important;
      border-color: rgb(233, 228, 222)!important;
    }
.containerFavo{
      border-radius: 1rem;
      border: 0.2rem solid rgba(90, 77, 59, 0.37);
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 4rem;
      // margin-top: 5rem;
}
.containerDirtyS{
      border-radius: 1rem;
      border: 0.2rem solid rgba(90, 77, 59, 0.37);
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 4rem;
      // margin-top: 5rem;
}

// .btnClothes{
//       border-radius:0.5rem;
//       background-color: rgba(222, 184, 135, 0.534);
//       margin-left: -10rem;
//       font-size: 2rem;
//       color:rgb(90, 77, 59);

// } 
// .btnClothes:hover{
//       color:rgb(233, 228, 222);
//       border-color: rgba(222, 184, 135, 0.534);
// }
