.top-container,  .footwear-container{
    height: 180px;
    width:350px;
    border: 2px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
}

.bottom-container{
    height: 180px;
    width:350px;
    border: 2px;
    border-right-style: solid;
    border-left-style: solid;
}

.footwear-container{
    height: 180px;
    width:350px;
    border: 2px;
    border-radius: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.button,.btn.btn-outline-light,.close-button, .save-button {
        background-color:grey; 
        border: 2px;
        border-radius: 12px;
        color:whitesmoke;
        font-size: 10px;
}
.save-button{
        height:40px;
        border: 2px;
        border-radius: 12px;
        text-align: center;
       
        color:whitesmoke;
}

