.tittleRegister{
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color:#785964;
}

.containerRegister {  
  margin: auto;
  display: flex;  
  text-align: center;
  background-color: #a885a1 !important;
  color:rgb(90, 77, 59);
  width: 32rem;
  height: 42rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 4px 10px 12px rgba(0,0,0,.5);

}

.containerBoxRegister{
    width: 30rem;
    height: 38rem;
    margin-left: 0.9rem;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
    background-color: #B392AC ;

}
.goToLogin{
    // color: rgb(90, 77, 59);
    margin-top: -0.5rem;

}
.groupRegister{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 0.1rem;

}
.inputRegister {
  // font-size: 1rem;
  width: 20rem;
  height: 2.5rem;
  margin: 0.7rem 0;
  background: #FFFFFF;
  
}
.btnRegister  {
  width: 10rem;
  height: 3rem;
  background-color: #785964 !important;
  color: white;
  margin-left: 1rem !important;
  margin-top: 2rem!important;
  border-radius: 1rem;
  border:0.2rem solid #FFFFFF;
}

.btnRegister:hover{
  color:rgb(233, 228, 222)!important;
  border-color: rgb(233, 228, 222)!important;
}
.genderDrop{
  width: 20rem!important;
  height: 2.8rem !important;
  border-radius: 0.3rem !important;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align:center !important;
  // font-size: 1.5rem;


}
